@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Created by Néstor Lasso</p>
<br />
<p>e-mail nestorlasso@gmail.com</p>
<br />
<p>Skype nestorlasso</p>
<br />
<p>Phone 3115731988 </p>
